.menuItems-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h2 {
  font-family: 'Rubik 80s Fade', cursive;
  font-size: 40px;
  color: #EA5455;
  text-align: center;
}

/* Add media query for smaller screens */
@media (max-width: 768px) {
  .menuItems-section {
    justify-content: center;
  }
}