.menuItem-wrapper {
  width: 25%;
  max-width: 500px;
  padding: 5px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #ccc;
  background-image: linear-gradient(to bottom, #FFF886, #F072B6);
  border-radius: 10px;
}

.menuItem-wrapper:hover {
  transform: scale(1.05);
}

.content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.content > h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 20px;
}

.like-btn {
  font-family: 'Bruno Ace SC', cursive;
  background-color: whitesmoke;
  border: none;
  padding: 5px 5px;
  cursor: pointer;
  box-shadow: 1px 3px 4px rgba(236, 232, 232, 0.8);
  transition: background-color 0.3s;
}

.pic-box1 {
  text-align: center;
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 30px;
}

.pic-box1 > img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 350px;
  
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Bruno Ace SC', cursive;
  padding: 10px;
  width: 100%;
}


/* Add media query for smaller screens */
@media (max-width: 768px) {
  .menuItem-wrapper {
    width: 50%; /* Display two items per line on smaller screens */
  }
}