* {
  box-sizing: border-box;
  
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: black;
}

body {
  background-color: black;
}

.App h1 {
  font-family: 'Rubik 80s Fade', cursive;
  font-size: 60px;
  color: #FEB692;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 20px;
  font-family: 'Bungee Spice', cursive;
}

.nav-link {
  text-decoration: none;
  padding: 10px 20px;
  box-shadow: 1px 3px 4px rgba(236, 232, 232, 0.8);
}

.user-info {
  display: flex;
  align-items: center;
  font-family: 'Bungee Spice', cursive;
}

.user-email {
  margin-right: 10px;
  font-size: 14px;
}

.logout-btn {
  background-color: black;
  font-family: 'Bungee Spice', cursive;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 1px 3px 4px rgba(236, 232, 232, 0.8);
  transition: background-color 0.3s;
}

.logout-btn:hover  {
  background-color: #FCFF00;
}